<p id="notice"><%= notice %></p>

<p>
  <strong>Company name:</strong>
  <%= @dealer.company_name %>
</p>

<p>
  <strong>Contact number:</strong>
  <%= @dealer.contact_number %>
</p>

<p>
  <strong>Street address:</strong>
  <%= @dealer.street_address %>
</p>

<p>
  <strong>Suburb:</strong>
  <%= @dealer.suburb %>
</p>

<p>
  <strong>About us:</strong>
  <%= @dealer.about_us %>
</p>

<p>
  <strong>Image data:</strong>
  <%= @dealer.image_data %>
</p>

<%= link_to 'Edit', edit_dealer_path(@dealer) %> |
<%= link_to 'Back', dealers_path %>
