<p id="notice"><%= notice %></p>

<h1>Desserts</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Price</th>
      <th>Description</th>
      <th>Dealer</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @desserts.each do |dessert| %>
      <tr>
        <td><%= dessert.title %></td>
        <td><%= dessert.price %></td>
        <td><%= dessert.description %></td>
        <td><%= dessert.dealer_id %></td>
        <td><%= link_to 'Show', desserts_url %></td>
        <td><%= link_to 'Destroy', dessert, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Dessert', new_dessert_path %>
