<nav class="navbar navbar-toggleable-md navbar-light bg-faded">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
    <span><%= image_tag("DessertDashLogo.png", :alt => "dessert dash logo", :size => "100x100") %></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
    <ul class="navbar-nav mr-auto mt-2 mt-md-0">
      <li class="nav-item active">
        <% if user_signed_in? %>
          <%= link_to 'User Log Out', destroy_user_session_path, method: :delete%>
        <% else %>
          <%= link_to 'User Login', new_user_session_path%>
        <%end%>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="/">Link</a>
      </li>
      <li class="nav-item active">
        <% if dealer_signed_in? %>
          <%= link_to 'Dealer Log Out', destroy_dealer_session_path, method: :delete%>
        <% else %>
          <%= link_to 'Dealer Login', new_dealer_session_path%>
        <%end%>
      </li>
    </ul>
    <!-- <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="text" placeholder="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form> -->
  </div>
</nav>
